<div id="activities" class="service">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
            <h2>Activities<h2>
            <h5>Four activities in one day, full of magic. The purpose for each activity is to collaborate creatively, turning ideas into realities. You can see the schedule for more information on days, times and other details.</h5>
            </div>
            <div class="row">
           <div class="r_label col-md-6">
                <i class="fa fa-comments-o"></i>
                <h4>Discussions</h4>
                <p>We begin a gathering with discussions in many forms. Talking about something in order to reach a decision or to exchange information, ideas, opinions, etc. A discussion can also help to resolve conflicts and enhance understanding.</p>
            </div>
            <div class="r_label col-md-6">
                <i class="fa fa-gears"></i>
                <h4>Workshops</h4>
                <p>We provide spaces of equipment and materials for the participants to get practically involved. We do our best to enhance our workshop spaces with more resources, bringing more possibilities. Workshops start after the discussions end.</p>
            </div>
            </div>
            <div class="row">
            <div class="r_label col-md-6">
                <i class="fa fa-flag"></i>
                <h4>Missions</h4>
                <p>After workshops, we focus on creating products that can later be used in the market. This process helps us to sustain and develop our non-profit organization. Missions also help participants to build a portfolio of works.</p>
            </div>	
            <div class="r_label col-md-6">
                <i class="fa fa-music"></i>
                <h4>Jamming</h4>
                <p>A jam session is a way to be creative and have some fun! Finalizing the gathering, we can take part in various performances such as music, juggling, dancing, theater, poetry, etc.</p>
            </div>                  
            </div>	 				
        </div>
    </div><! --/container -->
</div><! --/service -->
