<div id="activities" class="service">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
            <h2>Activities<h2>
            <h5>Four activities in one day, full of magic. The purpose for each activity is to collaborate creatively, turning ideas into realities. You can see the schedule for more information on days, times and other details.</h5>
            </div>
            <div class="row">
           <div class="r_label col-md-6">
                <i class="fa fa-comments-o"></i>
                <h4>Discussions</h4>
                <p>We are glad to host guests with many creative interests. For everyone to easily be part of our activities, we run projects in Art, Technology, Permaculture, Travel, Health, and Communication.</p>
            </div>
            <div class="r_label col-md-6">
                <i class="fa fa-gears"></i>
                <h4>Workshops</h4>
                <p>All guests can join a project. This gives an ability to collaborate with the members and help build a shared vision. Every project schedules events to engage the community and makes this possible.</p>
            </div>
            </div>
            <div class="row">
            <div class="r_label col-md-6">
                <i class="fa fa-flag"></i>
                <h4>Missions</h4>
                <p>For a center of inspiration to function, we invite guests and members to be part of workshops, discussions, celebrations and missions. These events inspire us to be creative together and collaborate in various ways.</p>
            </div>	
            <div class="r_label col-md-6">
                <i class="fa fa-music"></i>
                <h4>Jamming</h4>
                <p>For a center of inspiration to function, we invite guests and members to be part of workshops, discussions, celebrations and missions. These events inspire us to be creative together and collaborate in various ways.</p>
            </div>                  
            </div>	 				
        </div>
    </div><! --/container -->
</div><! --/service -->
