<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Athens Center of Inspiration</h3>
                <h1>Free Feather</h1>
                <br>
                <h5>We believe that with togetherness, creativity, and initiative we are able to <b>inspire</b> each other, bringing together collaborative activities. Free Feather is a Center of Inspiration in Athens, organising three days a week <b>gatherings</b> with discussions, workshops, missions and jam sessions.</h5>
                <br>
                <p>
                <h4>Entrance is by invitation only, free of charge including food and drinks! What is necessary, is your participation.</h4>
                 <a href="{{"/participation/" | prepend: site.baseurl }}" class="btn btn-theme">Read More</a>
                </p>
                <br>
                <br>
                <p>
                To make this possible we came up with a <a href="#recipe" >recipe</a>, taking gatherings to next level with our  <a href="#activities" >activities</a>.
                </p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->