<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Athens Center of Inspiration</h3>
                <h1>Free Feather</h1>
                <h5>We believe that with togetherness, creativity, and initiative we are able to <b>inspire</b> each other, bringing together collaborative activities. Free Feather is a Center of Inspiration in Athens, organising three days a week <b>gatherings</b> with discussions, workshops, missions and jam sessions.</h5>
                <br>
                <h4>Entrance and Food is free of charge. What is required, is your participation in the making of arts and crafts.</h4>
                <p><br/><a href="{{"/sessions/" | prepend: site.baseurl }}" class="btn btn-theme">More about Participation</a></p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->